<%= stylesheet_link_tag "vacation_show" %>
<%= stylesheet_link_tag "application" %>
<%= stylesheet_link_tag "bootstrap-grid.min" %>
<%= stylesheet_link_tag "bootstrap.min" %>


<div class="container">
  <div class= "row">
    <% if @most_recent_flight %>
      <div class="col-sm">
        <div class="card border-0 shadow my-5">
          <div class='card-body p-5'>
            <h2 class="col-heading">Your current flights</h2>
            <ol>
              <% @vacation.flights.each do |flight| %>
                <li>
                  <ul>
                    <li>Airline: <%= flight.airline %></li>
                    <li>Origin City: <%= flight.origin.name %></li>
                    <li>Takeoff Time: <%= flight.start_time.strftime("%m/%d/%Y") %>, <%= flight.start_time.strftime("%I:%M%p")%> </li>
                    <li>Destination City: <%= flight.destination.name %></li>
                    <li>Landing Time: <%= flight.end_time.strftime("%m/%d/%Y") %>, <%= flight.end_time.strftime("%I:%M%p") %></li>
                  </ul>
                  <br>
                </li>
              <% end %>
            </ol>
          </div> 
        </div> 
      </div>
      <div class="col-1"></div>
    <% end %>
    <% if !@vacation.hotels.empty? %>
      <div class="col-sm">
          <div class="card border-0 shadow my-5">
            <div class='card-body p-5'>
              <h2 class="col-heading">Your current hotels</h2>
              <ol>
                <% @vacation.hotel_stays.each do |hotel_stay| %>
                  <li>
                    <ul>
                      <li>City: <%= hotel_stay.hotel.city.name %></li>
                      <li>Name: <%= hotel_stay.hotel.name %></li>
                      <li>Check in time: <%= hotel_stay.check_in_time.strftime("%m/%d/%Y") %>, <%= hotel_stay.check_in_time.strftime("%I:%M%p") %></li>
                      <li>Check out time: <%= hotel_stay.check_out_time.strftime("%m/%d/%Y") %>, <%= hotel_stay.check_out_time.strftime("%I:%M%p") %></li>
                      <li>Nights in hotel: <%= (hotel_stay.check_out_time.to_date - hotel_stay.check_in_time.to_date).to_i %>
                      </ul>
                      <br>
                    </li>
                  <% end %>
                </div>
              </div>    
          </ol>
        </div>
      <% end %>
    </div>
  </div>
