<%= stylesheet_link_tag "application" %>
<%= stylesheet_link_tag "bootstrap-grid.min" %>
<%= stylesheet_link_tag "bootstrap.min" %>

<%= render "layouts/nav-bar" %>

  <div class="container">
    <div class="card border-0 shadow my-5">
      <div class="card-body p-5">
        <h1 class="font-weight-light">My Vacations</h1>
        <p class="lead" style="text-align:center">Click on a vacation to see details, or make a new one below!</p>
        <p style='text-align:center'>
          <ol>
            <% @vacations.each do |vac| %>
                <li>
                  <%= link_to "#{vac.name} starting on #{vac.start_date.strftime('%m/%d/%Y')}", vacation_path(vac)%>
                </li>
            <% end %>
          </ol>
        </p>
        <div style="height: 100px"></div>
      </div>
    </div>
    <div class="p-3 mb-2">
      <%= button_to('Make a new vacation!', new_vacation_path, :class => "btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2", :method => "get") %>
    </div>
  </div>

