<%= stylesheet_link_tag "vacation_index" %>
<%= stylesheet_link_tag "application" %>
<%= stylesheet_link_tag "bootstrap-grid.min" %>
<%= stylesheet_link_tag "bootstrap.min" %>

<%= render "layouts/nav-bar" %>

<body class="d-flex flex-column">
  <div id="page-content">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-md-7">
          <h1 class="font-weight-bold mb-2 mt-4 text-black">My Vacations</h1>
            <div class="p-3 mb-2 text-dark">
              <div class="card border-0 shadow my-5">
                <div class='card-body p-5'>
                  <% @vacations.each do |vac| %>
                    <li>
                      <%= link_to "#{vac.name} starting on #{vac.start_date.strftime('%m/%d/%Y')}", vacation_path(vac)%>
                    </li>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="p-3 mb-2">
            <%= button_to('Make a new vacation!', new_vacation_path, :class => "btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2", :method => "get") %>

            </div>
        </div>
      </div>
    </div>
  </div>
</body>