<%= render "layouts/nav-bar" %>

<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <h1 class="font-weight-light">Create a Vacation!</h1>
      <p class="lead" style="text-align:center">travelin' n doin' thingz</p>
      <p>
        <%= form_for(@vacation) do |f| %>
          <div class="form-label-group">
            <%= f.text_field :name, class: 'form-control' %>
            <label>Vacation Name</label>
          </div>
          <div class="form-label-group">
            <%= f.date_field :start_date, class: 'form-control' %>
            <%= f.label 'Start Date'%>
          </div>
          <%= hidden_field_tag "vacation[user_id]", @user_id %>
          <%= f.submit "Make the vacay!", class: "btn btn-lg btn-primary btn-block text-uppercase" %>
        <% end %>
      </p>
      <div style="height: 100px"></div>
    </div>
  </div>
</div>

