<%= render "layouts/nav-bar" %>
<% if @vacation_with_errors.present? %>
  <div id='error'>
    <div class="card mx-auto border-0 shadow my-5" id="innererror" style="width: 18rem;">
      <div class="card-header">
        <strong><%= pluralize(@vacation_with_errors.errors.count, "error") %> prohibited this vacation from being created:</strong>
      </div>
      <ol class="list-group list-group-flush">
        <% @vacation_with_errors.errors.full_messages.each do |message|%>
          <li class="list-group-item"><%= message %></li>
        <% end %>
      </ol>
    </div>
  </div>
<% end %>
<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <h1 class="font-weight-light">Create a Vacation!</h1>
      <p class="lead" style="text-align:center">travelin' n doin' thingz</p>
      <p>
        <%= form_for(@vacation) do |f| %>
          <div class="form-label-group">
            <%= f.text_field :name, class: 'form-control' %>
            <label>Vacation Name</label>
          </div>
          <div class="form-label-group">
            <%= f.date_field :start_date, class: 'form-control' %>
            <label>Start Date</label>
          </div>
          <%= hidden_field_tag "vacation[user_id]", @user_id %>
          <%= f.submit "Make the vacay!", class: "btn btn-lg btn-primary btn-block text-uppercase" %>
        <% end %>
      </p>
      <div style="height: 100px"></div>
    </div>
  </div>
</div>
