<%= render "layouts/nav-bar" %>
<br>
<h1><%= "#{@vacation.name} starting on #{@vacation.start_date.strftime('%m/%d/%Y')}"%></h1>
<h4 style='text-align:center'>Search for flights or hotels below!</h4>
<% if flash[:errors].present? %>
  <div id='error'>
    <div class="card mx-auto border-0 shadow my-5" id="innererror" style="width: 18rem;">
      <div class="card-header">
        <strong><%= pluralize(flash[:errors].count, "error") %> prohibited this reservation from being booked:</strong>
      </div>
      <ol class="list-group list-group-flush">
        <% flash[:errors].each do |message|%>
          <li class="list-group-item"><%= message %></li>
        <% end %>
      </ol>
    </div>
  </div>
<% end %>
<%= render "show-helper" %>
<div class="container">
      <div class="row">
        <% if !@vacation.need_to_book_hotel? %>
          <div class="col-sm button">
            <%= " " %>
          </div>
          <div class="col-1 button">
            <%= " " %>
          </div>
          <div class="col-sm button">
            <% if !@vacation.hotels.empty? %>
              <%= button_to "Delete the most recent hotel", @vacation.hotel_stays.max_by(&:check_out_time), {method: :delete, class: "btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2", id: "delete-hotel"} %>
              <br>
              <br>
              <br>
            <% end %>
          </div>
          <br>
          <nav class = "navbar fixed-bottom navbar-expand-lg navbar-light bg-light">
            <a class= "navbar-brand">Search for flights!</a>
            <%= form_tag "/flights/search/#{@vacation.id}", :method => "get", :class => "form-inline" do %>
              <label class = "my-1 mr-2">Origin:</label>
              <% if !@vacation.cur_city.nil? %>
                <strong><%= @vacation.cur_city.name %></strong>
                &ensp;
                &ensp;
                <%= hidden_field_tag "flight[origin_id]", @vacation.cur_city.id  %>
              <% else %>
                <%= collection_select :flight, :origin_id, @cities, :id, :name, {prompt: "Please select origin"}, {class: "form-control mr-sm-2"} %>
              <% end %>
              <label class = "my-1 mr-2"> Destination:</label>
              <%= collection_select :flight, :destination_id, @cities, :id, :name, {prompt: "Please select destination"}, {class: "form-control mr-sm-2"} %>
              <label class = "my-1 mr-2" >Departure Date:</label>
              <%= date_field_tag("flight[start_time]", nil, {class: "form-control mr-sm-2 datetime-local"})%>
              <%= submit_tag 'Search', class: "btn btn-primary" %>
            <% end %>
          </nav>
        <% else %>
          <div class="col-sm button">
            <%= button_to "Delete the most recent flight", @most_recent_flight, {method: :delete, class: "btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2", id: "delete-flight"} %>
            <br>
            <br>
            <br>
          </div>
          <div class="col-1 button">
          </div>
          <div class="col-sm button">
            <%= " "%>
          </div>
          <br>
        </div>
      </div>
      <nav class = "navbar fixed-bottom navbar-expand-lg navbar-light bg-light">
        <a class= "navbar-brand">Search for flights!</a>
        <%= form_tag "/flights/search/#{@vacation.id}", :method => "get", :class => "form-inline" do %>
          <label class = "my-1 mr-2">Origin:</label>
          <% if !@vacation.cur_city.nil? %>
            <strong><%= @vacation.cur_city.name %></strong>
            &ensp;
            &ensp;
            <%= hidden_field_tag "flight[origin_id]", @vacation.cur_city.id  %>
          <% else %>
            <%= collection_select :flight, :origin_id, @cities, :id, :name, {prompt: "Please select origin"}, {class: "form-control mr-sm-2"} %>
          <% end %>
          <label class = "my-1 mr-2"> Destination:</label>
          <%= collection_select :flight, :destination_id, @cities, :id, :name, {prompt: "Please select destination"}, {class: "form-control mr-sm-2"} %>
          <label class = "my-1 mr-2" >Departure Date:</label>
          <% if @vacation.hotels.empty? %>
            <% default = @vacation.start_date %>
          <% else %>
            <% default = @vacation.last_hotel_stay.check_out_time.to_date %>
          <% end %>
          <%= date_field_tag("flight[start_time]", nil, {value: default, class: "form-control mr-sm-2 datetime-local"})%>
          <%= submit_tag 'Search', class: "btn btn-primary" %>
        <% end %>
      </nav>
    <% else %>
      <div class="col-sm button">
        <%= button_to "Delete the most recent flight", @most_recent_flight, {method: :delete, class: "btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2", id: "delete-flight"} %>
        <br>
        <br>
        <br>
      </div>
      <div class="col-1 button">
        <% if @vacation.first_origin == @vacation.cur_city && !@vacation.flights.empty? %>
          <%= button_to "Finalize trip", finalize_vacation_path(@vacation)%>
        <% end %>
      </div>
      <div class="col-sm button">
        <%= " "%>
      </div>
      <br>
    </div>
  </div>
  <nav class = "navbar fixed-bottom navbar-expand-lg navbar-light bg-light">
    <a class= "navbar-brand"> Add a hotel!</a>
    <%= form_for HotelStay.new, html: {class: "form-inline"}  do |f| %>
      <% hotel_list = Hotel.all.select do |hotel| %>
        <% hotel.city == @vacation.cur_city %>
      <% end%>
      <%= f.collection_select :hotel_id, hotel_list, :id, :name, {prompt: "Pick a hotel"}, {class: "form-control mr-sm-2"} %>
      <label class = "my-1 mr-2">Check in date (10:00 AM):</label>
      <%= f.date_field :check_in_time, :value => @vacation.last_flight.end_time.to_date, class: "form-control mr-sm-2 datetime-local" %>
      <label class = "my-1 mr-2">Check out date (06:00 PM):</label>
      <%= f.date_field :check_out_time, :value => @vacation.last_flight.end_time.to_date, class: "form-control mr-sm-2 datetime-local"%>
      <%= f.hidden_field :vacation_id, value: @vacation.id %>
      <%= f.submit "Book a hotel", class: "btn btn-primary"%>
        <% end %>
      </nav>
    <% end %>
