<%= render "layouts/nav-bar" %>
<% if !@searched_flights.empty? %>
  <br>
  <h1 style="text-align: center">Showing flights from <%= @searched_flights[0].origin.name%> to <%= @searched_flights[0].destination.name %>
  </h1>
  <div class="container">
    <div class = "row">
      <div class = "col-sm"> <%= " " %></div>
      <div class="col-sm">
        <% @searched_flights.each_with_index do |flight,i| %>
          <div class="card border-0 shadow my-5">
            <div class='card-body p-5'>
              <h2 class = "col-heading"><%= "Flight ##{i+1}" %></h2>
              <li>Airline: <%= flight.airline %></li>
              <li>Departure Date: <%= flight.start_time.strftime("%m/%d/%Y") %></li>
              <li>Departure Time: <%= flight.start_time.strftime("%I:%M%p") %></li>
              <li>Landing Date: <%= flight.end_time.strftime("%m/%d/%Y") %></li>
              <li>Landing Time: <%= flight.end_time.strftime("%I:%M%p") %></li>
              <br>
              <%= button_to "Add this flight", {action: "create", controller: "vacation_flights"}, { class: "btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2", params: {vacation_flight: { flight_id: flight.id, vacation_id: @vacation.id}}}%>
            </div>
          </div>
        <% end %>
      </div>
      <div class = "col-sm"><%= " " %></div>
    </div>
  </div>
<% else%>
  <div class="container">
    <div class="card border-0 shadow my-5">
      <div class="card-body p-5">
        <h1 class="font-weight-light">No flights matched your search.</h1>
        <p class="lead" style="text-align:center">Remember the search will not return flights that overlap with hotel stays or do not fit into your vacation.</p>
        <p style='text-align:center'><%= link_to "Go back to your vacation's page.", vacation_path(@vacation) %></p>
        <div style="height: 100px"></div>
      </div>
    </div>
  </div>
<% end%>


